.cartImage {
	width: 200px;
	height:200px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  float: left;
  display: block;
}


.shoppingList {
	float: left;
	padding-left: 20px; 
}

.buttonList {
	padding-top: 13px;
}